*{
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
       
}
.container form{
    margin-top: 10px;
    background-color: #fff;
    width: 750px;
    padding: 10px 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
}

form h1{
    padding: 5px;
    text-align: center;
    size: 20px;
}

form input, select{
    width: 100%;
    height: 35px;
    margin: 8px 0;
    border: 1px solid grey;
    border-radius: 5px;
}

form textarea{
    width: 100%;
    max-height: 50px;
    margin: 8px 0;
    border: 1px solid grey;
    border-radius: 5px;
    
}

form button{
    width: 120px;
    margin-top: 20px;
}

form .selection{
  display: flex;
  flex-direction: row;
 
}

form .selection .form-check{
  margin: 15px;
}


#myInput {
    background-image: url('../Icons/search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 800px; 
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-top: 50px;
    margin-left: 350px;

  }

  .container2{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.container2 table{
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
th, td {
    text-align: left;
    padding: 20px;
    text-decoration: none;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }


h1{
    padding: 5px;
    text-align: center;
    size: 20px;
    padding-top: 30px;
    justify-content: center;
}