*{
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.container form{
    margin-top: 5px;
    background-color: #fff;
    width: 700px;
    padding: 20px 90px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
}

form h1{
    padding: 5px;
    text-align: center;
    size: 20px;
}

form input, select{
    width: 500px;
    height: 35px;
    margin: 8px 0;
    border: 1px solid grey;
    border-radius: 5px;
}

form textarea{
    width: 500px;
    max-height: 50px;
    margin: 8px 0;
    border: 1px solid grey;
    border-radius: 5px;
    
}

form button{
    width: 120px;
    margin-top: 20px;
}