@media screen and (max-width: 300px){
    body{
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

.tagline img{
    max-width: 500px;
    align-items: center;
    display: flex;
    margin-top: 250px;
    margin-left: 60px;
}
.container{

    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    float: right;
    padding-right: 100px;
    padding-left: 100px;
}

body .container form{
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.container .form-select{
    color: black;
    padding: 8px;
    margin-bottom: 10px;
}

.container select{
    width: 100%;
    padding: 10px;
    border-radius: 8px;

}

.container .form-text{
    color: #FD4D0C;
}

.container form a{
    text-decoration: none;
    color: dodgerblue;
}



.container .signin-card form{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.container .signin-card input{
    padding: 8px;
    margin: 10px 0;
    width: 350px;
}